.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 2rem;
  gap: 4rem;

  .link {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.header-link {
  color: black;
  font-weight: 700;
  text-decoration: none;

  &.active {
    color: green;
    text-decoration: underline;
  }
}
