@import '../../styles/variables';

.container {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .todos {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
}
