.form {
  display: flex;
  width: 50rem;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  input,
  textarea {
    width: 100%;
  }

  input[type='checkbox'] {
    width: initial;
    align-self: start;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}
