@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  text-size-adjust: none;
}

html {
  font-family: $font;
  font-size: 62.5%;
  overflow-x: hidden;
}
